<table id="game-table">
    <tr id="row1">
        <td class="square empty"></td>
        <td class="square empty v"></td>
        <td class="square empty"></td>
    </tr>
    <tr id="row2">
        <td class="square empty h"></td>
        <td class="square empty v h"></td>
        <td class="square empty h"></td>
    </tr>
    <tr id="row3">
        <td class="square empty"></td>
        <td class="square empty v"></td>
        <td class="square empty"></td>
    </tr>
</table>